@import url(https://fonts.googleapis.com/css?family=Poiret+One);



.meme {
    position: relative;
    padding: 20px;
    left: 25%;
 }

body {
  background-color: #ddd;
  font-family: "Poiret One", Segoe UI Light, cursive;
}

#card {
  position: absolute;
  top: 420px;
  width: 460px;
  height: 260px;
  left: 50%;
  margin-left: -230px;
}

#card .heart {
  width: 260px;
  height: 260px;
  float: left;
}

#card .heart #circle {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #ff0000;
}

#card .heart #rec,
#card .heart #rec2 {
  margin-top: -60px;
  width: 130px;
  height: 130px;
  background-color: #d32f2f;
  border-radius: 35% 0 0 0;
}

#card .heart #half2 {
  transform: rotate(-90deg);
  margin-top: -330px;
  margin-left: -200px;
}

#card #heart2 {
  margin-top: -60px;
  margin-left: -130px;
}

#card #heart2 #circle,
#card #heart2 #rec {
  background-color: #0467d8;
}

#card #heart2 #half2 #rec {
  border-bottom: 1px solid #eee;
  margin-top: -61px;
}

#card #message {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: -130px;
  background-color: #333;
  border-radius: 35% 0 35% 0;
  text-align: center;
}

#card #message h2 {
  font-size: 20px;
  color: #fff;
  width: 160px;
  margin-top: 60px;
  margin-left: 16px;
}

#card #heart1 {
  transform: rotate(180deg);
  animation: closeLeft 2s ease-in-out forwards;
}

#card #heart2 {
  animation: closeRight 2s ease-in-out forwards;
}

#card:hover #heart1 {
  animation: openLeft 2s ease-in-out forwards;
}

#card:hover #heart2 {
  animation: openRight 2s ease-in-out forwards;
}

@keyframes closeLeft {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes openLeft {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes closeRight {
  from {
    transform: rotateX(0deg) rotate(180deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes openRight {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg) rotate(180deg);
  }
}
